@model IEnumerable<TestRailMVC.Models.TestCase>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <!-- linkText, actionName, controllerName, routeValues, htmlAttributes -->
                @Html.ActionLink(item.Title, "Details", "TestCases", new { id = item.Id }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "TestCases", new { id = item.Id }, null) | 
                @Html.ActionLink("Delete", "Delete", "TestCases", new { id = item.Id }, new { @class = "red"})
            </td>
        </tr>
    }

</table>