<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/main.css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TestRail", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                @using Microsoft.AspNet.Identity
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index")</li>
                        <li>@Html.ActionLink("Dashboard", "Dashboard")</li>
                        <li>@Html.ActionLink("Create A Project", "CreateProject")</li>
                        <li>@Html.ActionLink("Create A Test Case", "CreateTestCase")</li>
                        <li>@Html.ActionLink("Users", "Users")</li>
                    </ul>
                }

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <header class="wrapper">
            <h1> Entity Framework Demo </h1>
        </header>
        
        <main style="min-height: 600px;">
            <div class="col-md-9">
                <div class="row page__title wrapper">
                    @Html.Partial("_PageTitlePartial")
                </div> 
                
                <div class="row wrapper">
                    @RenderBody()
                </div>
            </div>
            
            <aside class="col-md-3">
                @Html.Partial("_SidebarPartial")
            </aside>
        </main>

        <footer>
            <p class="footer__copy">&copy; @DateTime.Now.Year - TestRail</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
