@model TestRailMVC.Models.Project

@{
    ViewBag.Title = Html.DisplayFor(model => model.Code) + " " + Html.DisplayFor(model => model.Name);
}

<div>
    <dl class="dl-horizontal jumbotron">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<div>
    <h4>Test Cases</h4>
    @Html.Partial("~/Views/TestCases/_ProjectTestCasesPartial.cshtml", ViewData.Model.TestCases)
</div>   
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
