@model TestRailMVC.Models.Project

@{
    ViewBag.Title = Html.DisplayFor(model => model.Code) + " " + Html.DisplayFor(model => model.Name);
}

<div class="jumbotron txt-ctr">
    @Html.DisplayFor(model => model.Description)
</div>

<div>
    <h3>Test Cases</h3>
    @Html.Partial("~/Views/TestCases/_ProjectTestCasesPartial.cshtml", ViewData.Model.TestCases)
</div>   
<p>
    @Html.ActionLink("Return to Project Dashboard", "Index")
</p>

<!-- Sidebar Content -->
@section SidebarProjectDashboard {
    <button class="sidebar__button" onclick="location.href='@Url.Action("Create", "TestCases", new { id = Model.Id })'"> Create a TestCase </button>

    <button class="sidebar__button" onclick="location.href='@Url.Action("Register", "Account")'"> Add a user </button>
}

@section SidebarProjectUsers {
    <h2 class="sidebar__header">Users</h2>
}